<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EdkalAssignment">
  <test name="SampleTest" thread-count="5"> 
    <classes>
      <class name="com.edkal.qa.testcases.AmazonSearchTests"/>
    </classes>
  </test> <!-- SampleTest -->
</suite> <!-- EdkalAssignment -->
